/*****Global Styles*****/
body {
   background: #E8E8E8; 
}

#vision-board {
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow: auto;
    background: url("../img/background.png");
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.block {
    /*outline: 1px dashed darkgreen*/
    float: left;
    box-sizing: border-box;
    width: 400px;
}

/*****Corner Blocks*****/
.small-block {
    height: 210px;
    padding: 30px 40px;
}

/*****Horizontal Center Blocks*****/
.large-block {
    height: 430px;
    padding: 70px 40px;
}

.center {
   text-align: center;
}

.right {
    text-align: right;  
}

/*****All Corner Blocks*****/
.corner {
    background: #FFFFFF;
}

/*****Center Block*****/
.middle {
    background: #3B3B3B;
}

.highlight {
    background: #FFF44F;
    font-size: 18px;
}

strong {
    font-size: 38px;
    line-height: 38px;
    text-transform: capitalize;
}

/*****Middle Block*****/
.title-text {
    font-size: 30px;
    color: #FFFFFF;
}

.year {
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
}

/*****Bottom Left Block*****/
.bottom-left {
    padding-top: 40px;
}

/*****Bottom Middle Block*****/
.bottom-middle {
    padding-top: 40px;
}